
@{
    ViewBag.Title = "Music | Now to share";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageDescription = "Slow your pace, enjoy the music";
    var lang = Blog.Helper.CultureHelper.GetCurrentCulture();
    var languageCode = lang == "zh" ? "zh-CN" : "en";
}


<div class="container-fluid">
    <div class="row">
        <div id="title" class="col-xs-12">
            <div class="text-center">
                <span class="text-capitalize">
                    Music will solve all problems
                </span>
            </div>
        </div>
    </div>
</div>

<div id="backgroundSwitcher"><button class="btn btn-raised btn-xs text-left" onclick="switchBg(this)"><span aria-hidden="true"></span></button></div>
<div id="backend-image" style="display: none"></div>
<video id="backend-video" muted loop>
    <source src="~/Content/img/backend-video.mp4" type="video/mp4" />
    <source src="~/Content/img/backend-video.ogg" type="audio/ogg" />
    <source src="~/Content/img/backend-video.webm" type="video/webm" />
</video>


<script>

</script>
<div class="panel panel-default" id="player">
    <div class="panel-body" style="display:flex">

        <div style="flex-basis:90px;">
            <img id="imageCover" src="http://placehold.it/90X90" width="90" height="90" />
        </div>
        <div style="flex: 1">
            <div class="player-progress-wrapper" style="display:flex">
                <span id="primary-progress" style="flex:0"></span>
                <span id="secondary-progress" style="flex:0"></span>
                <span id="left-progress" style="flex:1"></span>
            </div>
            <div id="music-controller" style="display: flex">

                <div id="sequence-controller" style="flex: 1;display: flex ">
                    <div id="music-info" style="flex: 0.3;display: flex; flex-direction: column; justify-content: space-around">
                        <h4 id="music-name"></h4>
                        <span id="music-artist-album"></span>
                    </div>
                    <div style="flex: 0.7" id="music-name-margin"></div>
                </div>
                <div id="play-control-section">
                    <span class="fa fa-step-backward cursor-pointer" id="prevSongBtn" onclick="prevSong()"></span>
                    <span class="fa fa-play-circle cursor-pointer" id="playBtn" onclick="playmusic(this)"></span>
                    <span class="fa fa-step-forward cursor-pointer" id="nextSongBtn" onclick="nextSong()"></span>
                </div>
                <div id="menu-control" style="flex: 1; display: flex; flex-direction: row-reverse">
                    <div id="music-menu-section" style="flex-basis: 180px; display: flex; justify-content: space-around; align-items: center">
                        <span class="music-setting-section  cursor-pointer" id="music-volume" onclick="adjustVolume(this)">
                            <span class="fa fa-volume-up"></span>
                            <span id="volume-number" class="text-muted"></span>
                        </span>
                        <span class="music-setting-section cursor-pointer" id="music-menu-bar">
                            <img src="~/Content/img/music-menu.svg" />
                        </span>
                    </div>
                    <div id="playingSequence" style="flex-basis: 120px; display: flex; justify-content: space-around; align-items: center">
                        <span class="cursor-pointer">
                            <img src="~/Content/img/repeat.svg" data-value="0" onclick="changeSequence(this)" width="20" height="20" />
                        </span>
                    </div>
                    <div id="music-playingTime" style="flex-basis:90px; display: flex; justify-content: space-around; align-items: center">
                        <span id="currentPlayingTime">00:00</span>&nbsp;/&nbsp;
                        <span id="totalPlayingTime">00:00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" id="currentPlayingListPanel" style="display: none">
    <div class="panel-heading" style="cursor: move">
        <button type="button" class="close" onclick="$('#currentPlayingListPanel').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Current Playing List</h4>

    </div>
    <div class="panel-body">
        <div id="toolBar">
            <span class="btn btn-xs btn-raised btn-primary" onclick="shuffle()">Shuffle</span>
            <span class="btn btn-xs btn-raised btn-default" id="moveUpBtn" onclick="move(-1)" style="display: none"><span class="fa fa-chevron-up"></span>&nbsp;Up</span>
            <span class="btn btn-xs btn-raised btn-default" id="moveDownBtn" onclick="move(1)" style="display: none"><span class="fa fa-chevron-down"></span>&nbsp;Down</span>
            <span class="btn btn-xs btn-raised btn-danger pull-right" id="deleteAll" onclick="deleteAll()"><span class="fa fa-trash"></span>&nbsp;Remove All</span>
        </div>
        <div id="playingList">
            <ul class="list-group"></ul>
        </div>
        <div>
            <button type="button" class="btn btn-default pull-right" onclick="$('#currentPlayingListPanel').hide()">Close</button>
        </div>
    </div>

</div>

<div id="lyricPanel" class="panel panel-primary" style="display: none">
    <div class="panel-heading" style="cursor: move">
        <button type="button" class="close" onclick="$('#lyricPanel').hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span>Lyric for <span id="lyricSongName"></span></span>
    </div>
    <div class="panel-body">
        <div id="lyricContent">
        </div>
        <div>
            <button type="button" class="btn btn-default pull-right" onclick="$('#lyricPanel').hide()">Close</button>
        </div>
    </div>
</div>


<div class="panel panel-success" id="favorateListPanel" style="display: none">
    <div class="panel-heading">
        <span type="button" class="cursor-pointer btn-xs btn-default pull-right" id="addToPlayingListBtn" onclick="addToPlayingList()" style="display: none">Play</span> <h4 class="modal-title">Favorate List (Register User Only)</h4>
    </div>
    <div class="panel-body">
        <span id="favorate-select-all" onclick="selectAllMusic(this)"><label class="cursor-pointer text-primary"><input type="checkbox">&nbsp;<small>Select All</small></label></span>
        <div id="favorateList">
            <ul class="list-group"></ul>
        </div>
    </div>
</div>

<div style="display: none">
    <audio id="current_player">
        <source id="audioSource" type="audio/mpeg" />
    </audio>
</div>

<div id="popluarMusicList" class="panel panel-warning" style="display: none">
    <div class="panel-heading">
        <span class="btn-xs cursor-pointer btn-raised btn-success pull-right" style="display: none" id="playPopBtn" onclick="playPopMusic()">Play</span> <h4 class="modal-title">Popular List </h4>

    </div>
    <div class="panel-body" style="display: flex;height: calc(100%-60px)">
        <div style="flex-basis: 150px;">
            <ul id="popularCategory" class="list-group"></ul>
        </div>
        <div style="flex: auto;">
            <label class="cursor-pointer text-primary" onclick="selectAllPop(this)"><input type="checkbox">&nbsp;<small>Select All</small></label>
            <ul id="popularMusics" class="list-group"></ul>
        </div>
    </div>
</div>

<div id="searchMusicListPanel" class="panel panel-info" style="display: none">
    <div class="panel-heading">
        <span class="btn-xs cursor-pointer btn-raised btn-default pull-right" style="display: none" id="playSearchMusicBtn" onclick="playSearchMusic()">Play</span> <h4 class="modal-title">Search</h4>
    </div>
    <div class="panel-body">
        <div class="form-group label-floating is-empty">
            <label for="searchKeyWordInput" class="control-label"> Keyword</label>
            <div class="input-group">
                <input class="form-control" id="searchKeyWordInput" onkeyup="enterKeySearch(event)" />
                <div class="input-group-addon">
                    <span class="fa fa-search cursor-pointer" onclick="searchMusic()"></span>
                </div>
            </div>
        </div>
        <div id="searchMusicList">
            <label class="cursor-pointer text-primary" onclick="selectAllSearch(this)"><input type="checkbox">&nbsp;<small>Select All</small></label>
            <ul class="list-group"></ul>
        </div>
        <div class="text-center cursor-pointer" style="display: none" id="searchShowMoreBtn" onclick="searchMore(this)"><span class="fa fa-angle-double-down" aria-hidden="true"></span>&nbsp;More</div>
    </div>
</div>


<div id="showPopularMusicListSideBtn" class="left-side-btn cursor-pointer" onclick="showPopluarMusicList(this)">
    <span class="fa fa-chevron-circle-down fa-rotate-270"></span>
</div>
@if (Session["LoggedUserID"] != null)
{
    <div id="showFavoriateMusicListSideBtn" class="left-side-btn cursor-pointer" onclick="showFavoriateList(this)">
        <span class="fa fa-chevron-circle-down fa-rotate-270"></span>
    </div>
}


<div id="showSearchMusicListSideBtn" class="right-side-btn cursor-pointer" onclick="showSearchMusicList(this)">
    <span class="fa fa-chevron-circle-down fa-rotate-90"></span>
</div>

@section styles{
    <link href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css' rel="stylesheet">
    <link href="~/Content/css/customizeAnimate.css" rel="stylesheet" />
    <link href="~/Content/css/page/noui-slider.css" rel="stylesheet" />
    <link href="~/Content/css/page/Music.css" rel="stylesheet" />
}

@section scripts{

    <script src='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.js'></script>
    <script src="~/Scripts/Music/playList.js"></script>
    <script src="~/Scripts/Music/playerControl.js"></script>
    <script src="~/Scripts/Music/Index.js"></script>

}