@model IEnumerable<Blog.Models.ImageViewModel>

@{
    ViewBag.Title = "Image Viewer | Now to share";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/page/home.css" rel="stylesheet" type="text/css">

<div class="container">
    <div class="row">
        <h1 class="page-header">@Session["LoggedUserName"].ToString()'s Gallery</h1>
    </div>

    <div class="row" id="imageContainer">
        @foreach (var image in Model)
        {
            Html.RenderPartial(@"_OneImage",image);
        }
    </div>

</div>

<div class="modal fade" id="modalPopMessage" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p id="pop-up-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="pop-up-confirm" class="btn btn-raised btn-primary btn-sm">Comfirm</button>
                <button type="button" class="btn btn-raised btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="MediaDetail" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="container-fluid modal-content">
            <div class="modal-header col-lg-12 col-md-12 col-xs-12  col-sm-12">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <h4 class="modal-title pull-left">Media Detail</h4>
            </div>
            <div class="modal-body col-lg-12 col-md-12 col-xs-12  col-sm-12">
                <div id="pop-up-media" class="col-lg-12 col-md-12 col-xs-12  col-sm-12"></div>
            </div>
            <div class="modal-footer col-lg-12 col-md-12 col-xs-12  col-sm-12">
                  <button type="button" class="btn btn-raised btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



                      <div class="modal fade" id="MediaEditDescription" role="dialog">
                          <div class="modal-dialog modal-lg">

                              <!-- Modal content-->
                              <div class="container-fluid modal-content">
                                  <div class="modal-header col-lg-12 col-md-12 col-xs-12  col-sm-12">
                                      <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                                      <h3 class="modal-title pull-left">Edit Description</h3>
                                  </div>
                                  <div class="modal-body col-lg-12 col-md-12 col-xs-12  col-sm-12 row" id="editArea">
                                      
                                  </div>
                                
                                  <div class="modal-footer col-lg-12 col-md-12 col-xs-12  col-sm-12">
                                      <button type="button" id="edit-confirm" class="btn btn-raised btn-primary btn-sm" onclick="submitEditedDescription(this)" style="display: none">Comfirm</button>
                                      <button type="button" class="btn btn-raised btn-sm btn-default" data-dismiss="modal">Close</button>
                                  </div>
                              </div>

                          </div>
                      </div>


<hr>
<script type="text/javascript">
    function loadScript() {
        $.getScript('/Scripts/cardFlip.js', function() {
            $(".thumb").flip({
                axis: 'y',
                trigger: 'click'
            });
        });
        $.material.init();
    }
    function copyToClipboard(text) {
        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
    }
    //Infinit scrolling down
    var images = [];
    $("div.unit").each(function () {
        images.push(this);
        $(this).remove();
    });
    function appendNewImages() {
        for (var i = 0; i < 12 && i < images.length; i++) {
            $('#imageContainer').append(images[i]);
        }
        images = images.splice(Math.min(12, images.length));
        loadScript();
    }

    $(document).ready(function () {
        loadScript();
        $('.copyIcon').click(function () { // IE 11, Chrome, Firefox 42
            $(this).prev('input').focus().select();
            document.execCommand('copy');
        });

        var tagetElement;
        $('#modalPopMessage').on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            tagetElement = target;
            var operator = target.attr("name");
            var value = target.val();
            if (operator === "PublishOrPrivate" && value === "0") {
                operator = "PublicPicture";
                $(".modal-title").text('Be Public');
                $("#pop-up-message").text("Are you sure you want to public your picture?");
            }
            else if (operator === "PublishOrPrivate" && value === "1") {
                operator = "PrivatePicture";
                $(".modal-title").text('Be Private');
                $("#pop-up-message").text("Are you sure you want to private your picture?");
            }
            else if (operator === "DeletePicture") {
                operator = "DeletePicture";
                $(".modal-title").text('Delete');
                $("#pop-up-message").text("Are you sure you want to delete your picture?");
            }
            $('#pop-up-confirm').click(function () {
                var frm = target.closest('form');
                $.ajax({
                    type: frm.prop('method'),
                    url: frm.prop('action'),
                    data: frm.serialize() + "&operation=" + operator,
                    datatype: "json",
                    success: function (res) {
                        target.closest('.unit').replaceWith(res);
                        $('#modalPopMessage').modal('hide');
                        loadScript();
                    }
                });
            });
      
        });
        $('#modalPopMessage').on('hidden.bs.modal', function(event) {
            var val = tagetElement.attr('value');
            if (val === "1") tagetElement.attr('checked','checked');
            else tagetElement.attr('checked');
        });
        $('#MediaDetail').on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var type = target.data("type");
            var source = target.data("src");
            if (type.indexOf("image/") > -1) {
                $("#pop-up-media").empty();
                $("#pop-up-media").append("<img id=\"inner-pop-img\" class =\"col-lg-12 col-md-12 col-xs-12  col-sm-12\" src=" + source + " />");
            }
            else {
                $("#pop-up-media").empty();
                $("#pop-up-media").append("<video controls class =\"col-lg-12 col-md-12 col-xs-12  col-sm-12\"> <source src=" + source + "> </source> </video>");
            }
        });
        // initialize the images showing 12
        appendNewImages();       
        // Each time the user scrolls
        $(window).scroll(function () {
            // Vertical end reached?
            if ($(document).height() -  $(window).height() <=  $(window).scrollTop()+10) {
                appendNewImages();
            }            
        });


    });

    function showEditDescription(e) {   
        var pictureId = $(e).attr('data-imageId');
        var isPublished = $(e).attr('value');
        $('#editArea').html('Loading...');
        if (isPublished === "0") {
            $('#editArea').html('Please make this image public before adding description');
        } else {
            getDescription(pictureId);
            $('#edit-confirm').attr('data-imageId', pictureId);
            $('#edit-confirm').show();
        }
       
        $('#MediaEditDescription').modal();
    }

    function getDescription(pictureId) {
        $.ajax({
                method: 'get',
                data: {
                    pictureIdStr: pictureId
                },
                url: '/Dashboard/GetDescription'
            })
            .done(function (res) {
                $('#editArea').html('<textarea class="col-xs-12" rows="4" >' + res + '</textarea>');
                
            });
    }



    function submitEditedDescription(e)
    {
        var imageId = $(e).attr('data-imageId');
        writeDescription(imageId);
    }

    function writeDescription(pictureIdStr) {
        var content = $('#editArea').children('textarea').val();
        $.ajax({
            method: 'post',
            data: {
                pictureIdStr: pictureIdStr,
                content: content
            },
            url: '/Dashboard/WriteDescription'
        })
            .done(function (res) {
                $('#editArea').html(res);
                $('#edit-confirm').hide();
            });
    }
</script>
